<% include partials/header.ejs %>
  <div class="container">
    <% if (message) { %>
    <p><% message %></p>
  <% } %>
  <% if (task) { %>
    <form action="" method="post" enctype="multipart/form-data">
      <input type="text" name="user_name" value="<%= task.user_name %>" id="user-name" placeholder="Your Name" required>
      <input type="text" name="task_name" value="<%= task.task_name %>" id="task-name" placeholder="Task Name" required>
      <input type="text" name="task_description" value="<%= task.task_description %>" id="task-description" placeholder="Task Description" required>
      <input type="date" name="task_deadline" value="<%= task.task_deadline %>" id="task-deadline" placeholder="Task Deadline" required>
      <button type="submit">Edit Task</button>
    </form>
  <% } else { %>
    <p>Task Not Found. Go <a href="/add">here</a> to add tasks.</p>
  <% } %>
  </div>
</div>
</body>
</html>